{% extends 'base.html.twig' %}
{% block nav %}
    <a href="login" class="btn btn-outline-danger my-2 my-sm-0">Inloggen</a>
{% endblock %}
{% block body %}


    <div class="wrapper">
        <h2>Welkom bij trainings Centrum Den Haag</h2>
        <p>Den Haag Training Center is een sportschool waar onder profesionel begelijding in een veilige omgeving verschillende soorten material arts-, indoor bootcamp, personal- en
            small group trainingen worden aangeboden. Hier kan je je inschrijven op een les of uitschrijven op een les. </p>
    </div>
    </div>


{% endblock %}